.calcscreen {
    background-color: rgba(0, 71, 75, 1);
    font-family: 'Space Mono';
    font-weight: 700;
    width: 415px;
    height: 415px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.calcscreen__text_tip, .calcscreen__text_person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
}
.calcscreen p {
    margin: 0;
}
.toptext {
    color: white;
    font-size: 16px;
    line-height: 23.7px;
}
.perPerson {
    color: rgba(127, 157, 159, 1);
    font-size: 13px;
    line-height: 19.25px;
}
.calcscreen__text-price {
    font-size: 48px;
    line-height: 71.09px;
    letter-spacing: -1px;
    text-align: right;
    color: rgba(38, 194, 174, 1);
}
.calcscreen__reset > button {
    width: 335px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(38, 194, 174, 1);
    color:rgba(0, 71, 75, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 29.62px;
    text-align: center;
    cursor: pointer;
    transition: 0.45s ease;
}
.calcscreen__reset > button:hover {
    background-color: rgba(159, 232, 223, 1);
}
.calcscreen__reset > button:active {
    background-color: rgba(13, 104, 109, 1);
}
@media screen and (max-width:650px) {
    .calcscreen {
        width: 327px;
        height: 257px;
    }
    .calcscreen__text_tip, .calcscreen__text_person, .calcscreen__reset > button {
        width: 281px;
    }
}